video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  #buttonDIV {
    position: absolute;
  top: 80px;
  right: 25%;
  }

  #formDIV {
    position: absolute;
    top: 150px;
    right: 15%;
  }

  #timerDIV {
    position: absolute;
    top: 30px;
    right: 20%;
  }

  #highscoreDIV {
    position: absolute;
    top: 350px;
    right: 15%;
  }

  /* body {
    color: rgb(0, 4, 255);
    background-image: url("henrykim.jpeg");
    /* background-repeat: no-repeat; */
    /* background-position: center; */
  /* } */ 